@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode="true" />
<PageTitle>HanziFangzi</PageTitle>

<div class="page">
    
    <MudLayout>
        <NavMenu/>
        <main>
            <MudMainContent>
                @Body
            </MudMainContent>
        </main>
    </MudLayout>
</div>